
@model NXPMS.Web.Models.PMSViewModels.PmsEnquiryViewModel
<div class="container">
    <h4 class="mb-1">Appraisal Enquiry</h4>
    <hr />
    <div class="row">
        <form asp-controller="PMS" asp-action="AppraisalEnquiry" method="get">
            <div class="row">
                <div class="col-md-1 mb-2 text-start">
                    <a asp-controller="PMS" asp-action="Appraisals" title="Go Back" class="btn btn-sm btn-outline-light text-dark">
                        <i class="bi bi-backspace fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold ml-1" style="font-size: 0.9rem;">Back</span>
                    </a>
                </div>
                <div class="col-md-4 mb-2">
                    <select asp-for="id" asp-items="@ViewBag.SessionsList" class="form-control fw-bold">
                        <option value="0">- Appraisal Session -</option>
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <select asp-for="dc" asp-items="@ViewBag.DepartmentList" class="form-control fw-bold">
                        <option value="">- Department -</option>
                    </select>
                </div>
                <div class="col-md-2 mb-2">
                    <select asp-for="uc" asp-items="@ViewBag.UnitList" class="form-control fw-bold">
                        <option value="">- Unit -</option>
                    </select>
                </div>
                <div class="col-md-2 mb-2">
                    <input asp-for="nm" class="form-control fw-bold" placeholder="Enter Name" />
                </div>
                <div class="col-md-1 mb-2 text-end">
                    <input type="submit" value="Search" class="btn btn-dark btn-block text-white" />
                </div>
            </div>
        </form>
    </div>

    @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
    {<div class="row">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="row">
        @if (Model == null || Model.ResultSummaryList == null || Model.ResultSummaryList.Count < 1)
        {
            <div class="alert alert-info fade show" role="alert">
                <i class="bi bi-info-circle"></i>
                <span class="fw-bold">No record was found.</span>
            </div>
        }
        else
        {
            <div class="row">
                <div class="table-responsive" style="min-height:500px">
                    <table class="table table-sm table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bolder">Name</span></th>
                                <th>
                                    <span class="text-white fw-bolder">Unit</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Score</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Rating</span>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var item in Model.ResultSummaryList)
                            {
                                <tr>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.AppraiseeName</span>
                                    </td>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.UnitName</span>
                                    </td>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.CombinedScoreObtained</span>
                                    </td>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.PerformanceRating</span>
                                    </td>
                                    <td class="p-2">
                                        <div class="col-md-12 text-end">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-dark btn-block dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="text-white fw-bold">Select Action</span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                   <li>
                                                        <a asp-controller="PMS" asp-action="ShowContractInfo" asp-route-id="@item.ReviewHeaderId" title="View Performance Contract" class="dropdown-item">
                                                            <span class="text-white fw-bold">View Contract</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="PMS" asp-action="ShowSelectedResult" asp-route-id="@item.ReviewHeaderId" title="View Evaluation Result" class="dropdown-item">
                                                            <span class="text-white fw-bold">View Evaluations</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/pms.js"></script>
}


