@model NXPMS.Web.Models.PMSViewModels.EvaluationListViewModel
    <div class="container">
        <h4 class="mb-1">Evaluation List: Competencies</h4>
        <hr />
        <div class="row">
            <div class="col-md-6 text-start">
                <a asp-controller="PMS" asp-action="KpaEvaluationList" asp-route-id="@Model.ReviewHeaderID" asp-route-ad="@Model.AppraiseeID" title="Go Back" class="btn btn-outline-light text-dark">
                    <i class="bi bi-backspace fw-bolder" style="font-size: 1.1rem;"></i><span class="fw-bold ml-2" style="font-size: 1.0rem;">Back</span>
                </a>
            </div>
            <div class="col-md-6 text-end">
                <a asp-controller="PMS" asp-action="EvaluationResult" asp-route-id="@Model.ReviewHeaderID" asp-route-ad="@Model.AppraiseeID" title="Proceed to Evaluation Result" class="btn btn-sm btn-light text-dark ml-2">
                    <span class="fw-bold mr-2" style="font-size: 1.0rem;">Proceed to Result</span><i class="bi bi-chevron-double-right fw-bolder" style="font-size: 1.1rem;"></i>
                </a>
            </div>
        </div>
        <div class="row">
            @if (Model == null || Model.ReviewResultList == null || Model.ReviewResultList.Count < 1)
            {
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold text-dark">No record was found.</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else
            {
                int row_number = 0;
                <div class="table-responsive">
                    <table class="table border-0">
                        <tbody>
                            @foreach (var cmp in Model.ReviewResultList)
                            {
                                row_number++;
                                <tr style="border-bottom:2px solid #abb2b9">
                                    <td>
                                        <div class="card">
                                            <div class="card-header bg-success">
                                                <span class="fw-bold text-white" style="font-size: 0.9rem;">Competency #@row_number</span>
                                            </div>
                                            <div class="card-body bg-secondary">
                                                <div class="row">
                                                    <div class="col-md-12 mb-2">
                                                        <label class="form-label text-white fw-bold">Description</label>
                                                        <textarea asp-for="@cmp.ReviewMetricDescription" class="form-control fw-bold" rows="3" style="font-size:1.0rem" readonly="readonly">@cmp.ReviewMetricDescription</textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 mb-2">
                                                        <label class="form-label text-white fw-bold">Appraiser Comment</label>
                                                        <textarea asp-for="@cmp.AppraiserComment" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@cmp.AppraiserComment</textarea>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="form-label text-white fw-bold">Score</label>
                                                        <div class="form-control fw-bold">@cmp.AppraiserScoreDescription</div>
                                                    </div>
                                                    <div class="col-md-6 text-end">
                                                        <a asp-controller="PMS" asp-action="SelfEvaluateCmp" asp-route-id="@Model.ReviewHeaderID" asp-route-md="@cmp.ReviewMetricId" asp-route-ad="@Model.AppraiseeID" title="Evaluate this Competency" class="btn btn-success mt-4" style="width:100px">
                                                            <span class="text-white fw-bold">Evaluate</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-6 text-start">
                        <a asp-controller="PMS" asp-action="KpaEvaluationList" asp-route-id="@Model.ReviewHeaderID" asp-route-ad="@Model.AppraiseeID" title="Go Back" class="btn btn-outline-light text-dark">
                            <i class="bi bi-backspace fw-bolder" style="font-size: 1.1rem;"></i><span class="fw-bold ml-2" style="font-size: 1.0rem;">Back</span>
                        </a>
                    </div>
                    <div class="col-md-6 text-end">
                        <a asp-controller="PMS" asp-action="EvaluationResult" asp-route-id="@Model.ReviewHeaderID" asp-route-ad="@Model.AppraiseeID" title="Proceed to Evaluation Result" class="btn btn-sm btn-light text-dark ml-2">
                            <span class="fw-bold mr-2" style="font-size: 1.0rem;">Proceed to Results</span><i class="bi bi-chevron-double-right fw-bolder" style="font-size: 1.1rem;"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
