
@model NXPMS.Web.Models.PMSViewModels.CopyAppraisalGradesViewModel
<h3 class="mb-1">Copy Grades</h3>
<hr />
<div class="card mt-1" style="max-width:800px">
    <div class="card-header bg-info">
        <h4 class="text-white">Copy Grades</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-controller="PMS" asp-action="CopyAppraisalGrades" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="hidden" asp-for="ReviewSessionId" />
                    <label asp-for="GradeProfileId" class="form-label text-white fw-bold"></label>
                    <select asp-for="GradeProfileId" class="form-control" asp-items="@ViewBag.GradeProfileList">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-controller="PMS" asp-action="AppraisalGradeSettings" asp-route-id="@Model.ReviewSessionId" class="btn btn-dark" style="width:100px" title="Exit">
                        <span class="text-white">Exit</span>
                    </a>
                    @if (!Model.OperationIsSuccessful)
                    {
                        <button type="submit" class="btn btn-info" title="Copy" style="width:200px"><span class="text-white">Proceed</span></button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>



