
@model NXPMS.Web.Models.PMSViewModels.CreatePerformanceGoalsViewModel
<h3 class="mb-1">Set Up Performance Goal</h3>
<hr />
<div class="card mt-1" style="max-width:1000px">
    <div class="card-header bg-success">
        <h4 class="text-white">Create Performance Goal</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-controller="PMS" asp-action="CreatePerformanceGoals" method="post" autocomplete="off">
        <p class="text-white">
            <strong>Tip:</strong><em> Performance Goal is like the "Vision Statement" of your performance objectives for the period.
    One statement per role is normally enough.</em></p>
        <div class="row">
            <div class="col-md-12 mb-2">
                <input type="hidden" asp-for="ReviewHeaderID" />
                <input type="hidden" asp-for="ReviewSessionID" />
                <input type="hidden" asp-for="AppraiseeID" />
                <label asp-for="PerformanceGoals" class="form-label text-white fw-bold"></label>
                <textarea asp-for="PerformanceGoals" class="form-control fw-bold" rows="6" style="font-size:1.0rem">@Model.PerformanceGoals</textarea>
                <div><span asp-validation-for="PerformanceGoals" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="AppraiserID" class="form-label text-white fw-bold"></label>
                <select asp-for="AppraiserID" asp-items="@ViewBag.ReportList" class="form-control fw-bold">
                    <option value="">Select</option>
                </select>
                <div><span asp-validation-for="AppraiserID" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="PMS" asp-action="MyAppraisalSteps" asp-route-id="@Model.ReviewSessionID" class="btn btn-dark" style="width:100px" title="Back">
                    <span class="text-white">Back</span>
                </a>
                <a asp-controller="PMS" asp-action="CreatePerformanceGoals" asp-route-id="@Model.ReviewSessionID" asp-route-ad="@Model.AppraiseeID" class="btn btn-warning" style="width:100px" title="Clear">
                    <span class="text-white">Clear</span>
                </a>
                @if (!Model.OperationIsSuccessful)
                {
                    <button type="submit" class="btn btn-success" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                }
            </div>
        </div>
    </form>
    </div>
</div>



