
@model NXPMS.Web.Models.PMSViewModels.ManageAppraisalKpaViewModel
<h3>Key Performance Area (KPA)</h3>
<hr />
<div class="card mt-1">
    <div class="card-header bg-danger">
        <h4 class="text-white">Delete Key Performance Area (KPA)</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-controller="PMS" asp-action="DeleteAppraisalKpa" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-12 mb-2">
                <label class="form-label text-white fw-bold">KPA Description</label>
                <textarea asp-for="@Model.ReviewMetricDescription" class="form-control fw-bold" rows="3" style="font-size:1.0rem" readonly="readonly">@Model.ReviewMetricDescription</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <label class="form-label text-white fw-bold">Measurement</label>
                <textarea asp-for="@Model.ReviewMetricKpi" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@Model.ReviewMetricKpi</textarea>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label text-white fw-bold">Target</label>
                <textarea asp-for="@Model.ReviewMetricTarget" class="form-control fw-bold" rows="2" style="font-size:1.0rem" readonly="readonly">@Model.ReviewMetricTarget</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="form-label text-white fw-bold">Weightage</label>
                <div class="form-control fw-bold">@Model.ReviewMetricWeightage</div>
            </div>
            <div class="col-md-10 text-end">
                <a asp-controller="PMS" asp-action="AppraisalKpas" asp-route-id="@Model.ReviewHeaderId" class="btn btn-dark" style="width:100px" title="Back">
                    <span class="text-white">Back</span>
                </a>
                @if (!Model.OperationIsSuccessful)
                {
                    <button type="submit" class="btn btn-danger" title="Save" style="width:200px" onclick="return confirm('Are you sure you want to delete this record permanently?');"><span class="text-white">Delete</span></button>
                }
            </div>
        </div>
    </form>
    </div>
</div>



