
@model NXPMS.Web.Models.PMSViewModels.GradingListViewModel
<div class="container">
    <h3 class="mb-1">Grading Profiles</h3>
    <hr />
    <div class="mb-1">
        <div class="mb-2">
            <a asp-controller="PMS" asp-action="Settings" class="btn btn-dark" style="width:100px" title="Exit">
                <span class="text-white">Back</span>
            </a>

            <a asp-controller="PMS" asp-action="ManageGradeProfile" class="btn btn-success" style="width:250px" title="Add New Grading Profile">
                <span class="text-white">New Grading Profile</span>
            </a>

            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="row">
            @if (Model == null || Model.GradeHeaderList == null || Model.GradeHeaderList.Count < 1)
            {
                <div class="alert alert-info fade show" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <span class="fw-bold">No record was found.</span>
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bolder">Name</span></th>
                                <th>
                                    <span class="text-white fw-bolder">Description</span>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var item in Model.GradeHeaderList)
                            {
                                <tr>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.GradeHeaderName</span>
                                    </td>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.GradeHeaderDescription</span>
                                    </td>
                                    <td class="p-2 text-end">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                Select Action
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li>
                                                    <a asp-controller="PMS" asp-action="ManageGradeProfile" asp-route-id="@item.GradeHeaderId" title="Edit" class="dropdown-item">
                                                        <span class="fw-bold">Edit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="PMS" asp-action="DeleteGradeProfile" asp-route-id="@item.GradeHeaderId" title="Delete" class="dropdown-item">
                                                        <span class="fw-bold">Delete</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="PMS" asp-action="PerformanceGradeTemplate" asp-route-id="@item.GradeHeaderId" title="Performance Grades" class="dropdown-item">
                                                        <span class="fw-bold">Performance Grades</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="PMS" asp-action="CompetencyGradeTemplate" asp-route-id="@item.GradeHeaderId" title="Competency Grades" class="dropdown-item">
                                                        <span class="fw-bold">Competency Grades</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>


