
@model NXPMS.Web.Models.PMSViewModels.MoveToPreviousStepModel
<h3>Change Appraisal Step</h3>
<hr />
<div class="card mt-1" style="max-width:800px">
    <div class="card-header bg-info">
        <h4 class="text-white">Return to Previous Step</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-controller="PMS" asp-action="MoveToPreviousStep" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-12 mb-2">
                <input type="hidden" asp-for="ReviewHeaderID" />
                <input type="hidden" asp-for="ReviewSessionID" />
                <input type="hidden" asp-for="AppraiseeID" />
                <input type="hidden" asp-for="CurrentStageID" />
                <label asp-for="CurrentStageDescription" class="form-label text-white fw-bold"></label>
                <input asp-for="CurrentStageDescription" class="form-control" readonly="readonly">
                <div><span asp-validation-for="CurrentStageDescription" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <label asp-for="NewStageID" class="form-label text-white fw-bold"></label>
                <select asp-for="NewStageID" asp-items="@ViewBag.ReviewStageList" class="form-control">
                    <option value=""> Select </option>
                </select>
                <div><span asp-validation-for="NewStageID" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3 text-end">
                <a asp-controller="PMS" asp-action="MyAppraisalSteps" asp-route-id="@Model.ReviewSessionID" class="btn btn-dark" style="width:100px" title="Back">
                    <span class="text-white">Back</span>
                </a>
                @if (!Model.OperationIsSuccessful)
                {
                    <button type="submit" class="btn btn-info" title="Proceed" style="width:200px"><span class="text-white">Proceed</span></button>
                }
            </div>
        </div>
    </form>
    </div>
</div>


