
@model NXPMS.Web.Models.PMSViewModels.ReviewSessionsListViewModel
<div class="container">
    <h4 class="mb-1">Appraisal Sessions for @ViewBag.AppraiseeName</h4>
    <hr />
    <div class="mb-1">
        <div class="mb-2">
            <form asp-controller="PMS" asp-action="MyAppraisalSessions" method="get">
                <a asp-controller="PMS" asp-action="Appraisals" class="btn btn-dark mr-3" style="width:100px" title="Exit">
                    <span class="text-white">Back</span>
                </a>
                <select asp-for="Id" asp-items="@ViewBag.PerformanceYearsList" class="border-0" style="width:200px">
                    <option value="">- Select Year -</option>
                </select>
                <input type="submit" value="Search" class="btn btn-dark text-white ml-3" style="width:150px" />
            </form>

            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="row">
            @if (Model == null || Model.ReviewSessionsList == null || Model.ReviewSessionsList.Count < 1)
            {
                <div class="alert alert-info fade show" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <span class="fw-bold">No record was found.</span>
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead style="background-color:#2e4053">
                            <tr>
                                <th><span class="text-white fw-bolder">Name</span></th>
                                <th>
                                    <span class="text-white fw-bolder">Type</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Year</span>
                                </th>
                                <th>
                                    <span class="text-white fw-bolder">Status</span>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color:#d1f2eb">
                            @foreach (var item in Model.ReviewSessionsList)
                            {
                                <tr>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.Name</span>
                                    </td>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.ReviewTypeName</span>
                                    </td>
                                    <td class="p-2">
                                        <span class="fw-bolder">@item.ReviewYearName</span>
                                    </td>
                                    @if (item.IsActive)
                                    {
                                        <td class="p-2 text-center" title="Open Session">
                                            <i class="bi bi-unlock-fill fw-bold" title="Open Session" style="font-size:1.2rem; color:green;"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="p-2 text-center" title="Closed Session">
                                            <i class="bi bi-lock-fill fw-bold" title="Closed Session" style="font-size:1.2rem; color:red;"></i>
                                        </td>
                                    }
                                    <td class="p-2 text-end">
                                        <a asp-controller="PMS" asp-action="MyAppraisalSteps" asp-route-id="@item.Id" title="Select" class="btn btn-sm btn-dark" style="width:100px;">
                                            <span class="text-white fw-bold">Select</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

        </div>
    </div>
</div>


