
@model NXPMS.Web.Models.PMSViewModels.ManageAppraisalScheduleViewModel
<h3 class="mb-1">Appraisal Schedules</h3>
<hr />
<div class="card mt-1" style="max-width:800px">
    <div class="card-header bg-success">
        <h4 class="text-white">New Appraisal Schedule</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-controller="PMS" asp-action="NewAppraisalSchedule" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-12 mb-3">
                <input type="hidden" asp-for="SessionScheduleId" />
                <input type="hidden" asp-for="ReviewSessionId" />
                <input type="hidden" asp-for="ScheduleTypeId" />
                <label asp-for="ActivityTypeId" class="form-label text-white fw-bold"></label>
                <select asp-for="ActivityTypeId" class="form-control">
                    <option value="0"> - All - </option>
                    <option value="1">Contract Definition Only</option>
                    <option value="2">Performance Evaluation Only</option>
                </select>
                <div><span asp-validation-for="ActivityTypeId" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="ScheduleStartTime" class="form-label text-white fw-bold"></label>
                <input asp-for="ScheduleStartTime" class="form-control">
                <div><span asp-validation-for="ScheduleStartTime" class="text-danger"></span></div>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="ScheduleEndTime" class="form-label text-white fw-bold"></label>
                <input asp-for="ScheduleEndTime" class="form-control">
                <div><span asp-validation-for="ScheduleEndTime" class="text-danger"></span></div>
            </div>
        </div>

        @switch (Model.ScheduleTypeId)
        {
            case 1:
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="ScheduleLocationId" class="form-label text-white fw-bold"></label>
                        <select asp-for="ScheduleLocationId" asp-items="@ViewBag.LocationList" class="form-control">
                            <option value="0"> - All - </option>
                        </select>
                        <div><span asp-validation-for="ScheduleLocationId" class="text-danger"></span></div>
                    </div>
                </div>
                break;
            case 2:
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="ScheduleDepartmentCode" class="form-label text-white fw-bold"></label>
                        <select asp-for="ScheduleDepartmentCode" asp-items="@ViewBag.DepartmentList" class="form-control">
                            <option value=""> - All - </option>
                        </select>
                        <div><span asp-validation-for="ScheduleDepartmentCode" class="text-danger"></span></div>
                    </div>
                </div>
                break;
            case 3:
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="ScheduleUnitCode" class="form-label text-white fw-bold"></label>
                        <select asp-for="ScheduleUnitCode" asp-items="@ViewBag.UnitList" class="form-control">
                            <option value=""> - All - </option>
                        </select>
                        <div><span asp-validation-for="ScheduleUnitCode" class="text-danger"></span></div>
                    </div>
                </div>
                break;
            case 4:
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="ScheduleEmployeeName" class="form-label text-white fw-bold"></label>
                        <input asp-for="ScheduleEmployeeName" class="form-control" placeholder="Start Typing...." />
                        <div><span asp-validation-for="ScheduleEmployeeName" class="text-danger"></span></div>
                    </div>
                </div>
                break;
            default:
                <div class="row mb-3">
                    <div class="col-md-12 pt-2 pb-2">
                        <i class="bi bi-check2-square" style="font-size:1.3rem; color:white"></i>
                        <span class="text-white fw-bold ml-2" style="font-size:1.0rem">Schedule for Everyone</span>
                    </div>
                </div>
                break;
        }
          <div class="row mt-3">
            <div class="col-md-12">
                <a asp-controller="PMS" asp-action="AppraisalSchedules" asp-route-id="@Model.ReviewSessionId" class="btn btn-dark" style="width:100px" title="Exit">
                    <span class="text-white">Exit</span>
                </a>
                <a asp-controller="PMS" asp-action="NewAppraisalSchedule" asp-route-id="@Model.ReviewSessionId" asp-route-tp="@Model.ScheduleTypeId" class="btn btn-warning" style="width:100px" title="Clear">
                    <span class="text-white">Clear</span>
                </a>
                @if (!Model.OperationIsSuccessful)
                {
                    <button type="submit" class="btn btn-success" title="Create Schedule" style="width:200px"><span class="text-white">Create Schedule</span></button>
                }
            </div>
        </div>
    </form>
    </div>
</div>


