
@model NXPMS.Web.Models.PMSViewModels.ResultReportViewModel
<div class="container">
    <h4 class="mb-1">Appraisal Report</h4>
    <hr />
    <div class="row">
        <div class="row">
            <div class="col-md-12 mb-3 text-start">
                <a asp-controller="PMS" asp-action="Appraisals" title="Go Back" class="btn btn-sm btn-outline-light text-dark">
                    <i class="bi bi-backspace fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 0.9rem;">Back</span>
                </a>
                <a asp-controller="PMS" asp-action="DownloadResultReport" asp-route-id="@Model.id" asp-route-lc="@Model.lc" asp-route-dc="@Model.dc" asp-route-uc="@Model.uc" title="Download Excel" class="btn btn-sm btn-outline-light ml-2 text-dark">
                    <i class="bi bi-download fw-bolder" style="font-size: 1.0rem;"></i><span class="fw-bold ml-1" style="font-size: 0.9rem;">Download</span>
                </a>
            </div>
        </div>
        <div class="row">
            <form asp-controller="PMS" asp-action="ResultReport" method="get">
                <div class="row">
                        <div class="col-md-4 mb-2">
                            <select asp-for="id" asp-items="@ViewBag.SessionsList" class="fw-bold bg-light border-0">
                                <option value="0"> Session </option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <select asp-for="lc" asp-items="@ViewBag.LocationList" class="fw-bold bg-light border-0">
                                <option value=""> Location </option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <select asp-for="dc" asp-items="@ViewBag.DepartmentList" class="fw-bold bg-light border-0">
                                <option value=""> Department </option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <select asp-for="uc" asp-items="@ViewBag.UnitList" class="fw-bold bg-light border-0" style="border-radius:10px">
                                <option value=""> Unit </option>
                            </select>
                        </div>
                        <div class="col-md-2 mb-2">
                            <input type="submit" value="Search" class="btn btn-dark btn-sm text-white" />
                        </div>
                    </div>
            </form>
        </div>
       
    </div>

    @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
    {<div class="row">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="row">
        @if (Model == null || Model.ResultDetailList == null || Model.ResultDetailList.Count < 1)
        {
            <div class="alert alert-info fade show" role="alert">
                <i class="bi bi-info-circle"></i>
                <span class="fw-bold">No record was found.</span>
            </div>
        }
        else
        {
            <div class="row">
                <div class="table-responsive" style="min-height:500px;">
                    <table class="table table-sm table-striped caption-top">
                        <caption>@Model.ReviewSessionDescription Performance Appraisal Result </caption>
                        <thead class="table-dark">
                            <tr>
                                <th><span class="text-white fw-bolder">Appraisee No</span></th>
                                <th><span class="text-white fw-bolder">Appraisee Name</span></th>
                                <th><span class="text-white fw-bolder">Appraisee Designation</span>
                                <th><span class="text-white fw-bolder">Appraisee Unit</span></th>
                                <th><span class="text-white fw-bolder">Appraisee Department</span></th>
                                <th><span class="text-white fw-bolder">Appraisee Location</span></th>
                                <th><span class="text-white fw-bolder">Feedback Problems</span></th>
                                <th><span class="text-white fw-bolder">Feedback Solutions</span>
                                <th><span class="text-white fw-bolder">Appraisee Disagrees</span></th>
                                <th><span class="text-white fw-bolder">Appraiser Name</span></th>
                                <th><span class="text-white fw-bolder">Appriaser Designation</span>
                                <th><span class="text-white fw-bolder">Appraiser Role</span></th>
                                <th><span class="text-white fw-bolder">Appraiser Type</span></th>
                                <th><span class="text-white fw-bolder">Kpa Score</span></th>
                                <th><span class="text-white fw-bolder">Cmp Score</span></th>
                                <th><span class="text-white fw-bolder">Total Score</span></th>
                                <th><span class="text-white fw-bolder">Rating</span></th>
                                <th><span class="text-white fw-bolder">Line Manager Recommendation</span>
                                <th><span class="text-white fw-bolder">Line Manger Comments</span></th>
                                <th><span class="text-white fw-bolder">Line Manger Name</span></th>
                                <th><span class="text-white fw-bolder">Unit Head Recommendation</span></th>
                                <th><span class="text-white fw-bolder">Unit Head Comments</span></th>
                                <th><span class="text-white fw-bolder">Unit Head Name</span></th>
                                <th><span class="text-white fw-bolder">Department Head Recommendation</span>
                                <th><span class="text-white fw-bolder">Department Head Comments</span></th>
                                <th><span class="text-white fw-bolder">Department Head Name</span></th>
                                <th><span class="text-white fw-bolder">HR Recommendation</span></th>
                                <th><span class="text-white fw-bolder">HR Comments</span></th>
                                <th><span class="text-white fw-bolder">Management Decision</span></th>
                                <th><span class="text-white fw-bolder">Management Comments</span></th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            @foreach (var item in Model.ResultDetailList)
                            {
                            <tr>
                                <td><span class="fw-bold">@item.EmployeeNo</span></td>
                                <td><span class="fw-bold">@item.AppraiseeName</span></td>
                                <td><span class="fw-bold">@item.AppraiseeDesignation</span>
                                <td><span class="fw-bold">@item.UnitName</span></td>
                                <td><span class="fw-bold">@item.DepartmentName</span></td>
                                <td><span class="fw-bold">@item.LocationName</span></td>
                                <td><span class="fw-bold">@item.FeedbackProblems</span></td>
                                <td><span class="fw-bold">@item.FeedbackSolutions</span>
                                <td><span class="fw-bold">@item.IsFlagged</span></td>
                                <td><span class="fw-bold">@item.AppraiserName</span></td>
                                <td><span class="fw-bold">@item.AppraiserDesignation</span>
                                <td><span class="fw-bold">@item.AppraiserRoleDescription</span></td>
                                <td><span class="fw-bold">@item.AppraiserTypeDescription</span></td>
                                <td><span class="fw-bold">@item.KpaScoreObtained</span></td>
                                <td><span class="fw-bold">@item.CompetencyScoreObtained</span></td>
                                <td><span class="fw-bold">@item.CombinedScoreObtained</span></td>
                                <td><span class="fw-bold">@item.PerformanceRating</span></td>
                                <td><span class="fw-bold">@item.LineManagerRecommendation</span>
                                <td><span class="fw-bold">@item.LineManagerComments</span></td>
                                <td><span class="fw-bold">@item.LineManagerName</span></td>
                                <td><span class="fw-bold">@item.UnitHeadRecommendation</span></td>
                                <td><span class="fw-bold">@item.UnitHeadComments</span></td>
                                <td><span class="fw-bold">@item.UnitHeadName</span></td>
                                <td><span class="fw-bold">@item.DepartmentHeadRecommendation</span>
                                <td><span class="fw-bold">@item.DepartmentHeadComments</span></td>
                                <td><span class="fw-bold">@item.DepartmentHeadName</span></td>
                                <td><span class="fw-bold">@item.HrRecommendation</span></td>
                                <td><span class="fw-bold">@item.HrComments</span></td>
                                <td><span class="fw-bold">@item.ManagementDecision</span></td>
                                <td><span class="fw-bold">@item.ManagementComments</span></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/pms.js"></script>
}



