
@model NXPMS.Web.Models.PMSViewModels.AddAppraisalNoteViewModel
<h3 class="mb-1">Return Appraisal</h3>
<hr />
<div class="card mt-1" style="max-width:1000px">
    <div class="card-header bg-info">
        <h4 class="text-white">Return to Appraisee</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-controller="PMS" asp-action="ReturnContract" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="hidden" asp-for="ReviewSubmissionID" />
                    <input type="hidden" asp-for="ReviewHeaderID" />
                    <input type="hidden" asp-for="ReviewMessageID" />
                    <input type="hidden" asp-for="FromEmployeeID" />
                    <input type="hidden" asp-for="FromEmployeeName" />
                    <input type="hidden" asp-for="SourcePage" />
                    <input type="hidden" asp-for="LoggedInEmployeeID" />
                    <label asp-for="MessageBody" class="form-label text-white fw-bold">Enter Reason(s):</label>
                    <textarea asp-for="MessageBody" class="form-control fw-bold" rows="6" style="font-size:1.0rem">@Model.MessageBody</textarea>
                    <div><span asp-validation-for="MessageBody" class="text-white"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-controller="PMS" asp-action="AppraisalInfo" asp-route-id="@Model.ReviewHeaderID" class="btn btn-dark" style="width:100px" title="Back">
                        <span class="text-white">Back</span>
                    </a>
                    @if (!Model.OperationIsSuccessful)
                    {
                        <button type="submit" class="btn btn-info" title="Save" style="width:200px"><span class="text-white">Return Now</span></button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>





