@model NXPMS.Web.Models.SecurityModels.UserViewModel
@{
    ViewData["Title"] = "Next HR | Manage User";
}
<div>
    <div class="card" style="max-width:800px">
        <div class="card-header bg-success">
            <h4 class="text-white">@Model.ViewPageTitle</h4>
        </div>
        <div class="card-body bg-secondary">
            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-circle"></i>
                    <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        <form asp-controller="Security" asp-action="ManageUser" method="post" autocomplete="off">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <input type="hidden" asp-for="UserId" />
                    <label asp-for="FullName" class="form-label text-white"></label>
                    <input asp-for="FullName" class="form-control fw-bold">
                    <div><span asp-validation-for="FullName" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-2">
                    <input type="hidden" asp-for="EmployeeId" />
                    <label asp-for="Username" class="form-label text-white"></label>
                    <input asp-for="Username" class="form-control fw-bold">
                    <div><span asp-validation-for="Username" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label asp-for="Password" class="form-label text-white"></label>
                    <input asp-for="Password" class="form-control fw-bold">
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-2">
                    <label asp-for="ConfirmPassword" class="form-label text-white"></label>
                    <input asp-for="ConfirmPassword" class="form-control fw-bold">
                    <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="checkbox" asp-for="LockoutEnabled" class="mr-2 mt-3" style="width:17px;height:17px">
                    <span class="text-white">Lock this Account</span>
                    <div><span asp-validation-for="LockoutEnabled" class="text-danger"></span></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LockoutEnd" class="form-label text-white"></label>
                    <input asp-for="LockoutEnd" class="form-control fw-bold">
                    <div><span asp-validation-for="LockoutEnd" class="text-danger"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a asp-controller="Security" asp-action="Index" class="btn btn-dark" style="width:100px" title="Go Back">
                        <span class="text-white">Back</span>
                    </a>
                    <a asp-controller="Security" asp-action="ManageUser" asp-route-id="@Model.UserId" class="btn btn-warning" style="width:100px" title="Clear">
                        <span class="text-white">Clear</span>
                    </a>
                    @if (!Model.OperationIsSuccessful)
                    {
                        <button type="submit" class="btn btn-success" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                    }
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/erm.js"></script>
}


