
@model NXPMS.Web.Models.SecurityModels.PermissionsListViewModel
<div class="container">
    <h3 class="mb-1">User Permissions</h3>
    <hr />
    <div class="mb-1">
        <div class="mb-2">
            <form asp-controller="Security" asp-action="Permissions" asp-route-id="@Model.UserID" method="get">
                <a asp-controller="Security" asp-action="UserInfo" asp-route-id="@Model.UserID" class="btn btn-dark" style="width:100px" title="Exit">
                    <span class="text-white">Back</span>
                </a>
                <select asp-for="pd" asp-items="@ViewBag.ApplicationsList" class="border-0" style="width:300px">
                    <option value="">- Select Application -</option>
                </select>
                <input type="submit" value="Search" class="btn btn-dark mr-3 text-white" style="width:150px" />
                <a asp-controller="Security" asp-action="NewPermissions" asp-route-id="@Model.UserID" class="btn btn-success" style="width:150px" title="Grant New Permission">
                    <span class="text-white pr-2">New Permission</span>
                </a>
            </form>

            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="row">
            @if (Model.PermissionsList == null || Model.PermissionsList.Count < 1)
            {
                <div class="alert alert-info fade show" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <span class="fw-bold">No record was found.</span>
                </div>
            }
            else
            {
                int rowCount = 0;
                <table class="table table-sm table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th><span class="text-white fw-bolder">#</span></th>
                            <th>
                                <span class="text-white fw-bolder">Description</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Module</span>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-success">
                        @foreach (var item in Model.PermissionsList)
                        {
                            rowCount++;
                            <tr>
                                <td class="p-1">
                                    <span class="fw-bolder">@rowCount.ToString()</span>
                                </td>
                                <td class="p-1">
                                    <span class="fw-bolder">@item.RoleTitle</span>
                                </td>
                                <td class="p-1">
                                    <span class="fw-bolder">@item.ApplicationDescription</span>
                                </td>
                                <td class="p-1">
                                    <button title="Revoke this Permission" class="btn btn-sm btn-outline-danger text-dark fw-bold" style="border-radius:10px; width:100px" id="btn_revoke_@item.RoleCode" onclick="revokePermission('@Model.UserID','@item.RoleCode')">Revoke</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/sct.js"></script>
}



