@using NXPMS.Base.Enums
@model NXPMS.Web.Models.EmployeesViewModels.EmployeeNextOfKinInfoViewModel
<div class="card mt-1" style="max-width:1000px">
    <div class="card-header bg-success">
        <h4 class="text-white">Manage Employee: Next Of Kin Info</h4>
    </div>
    <div class="card-body bg-secondary">
        @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-x-circle"></i>
                <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelSuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                <span class="fw-bold">@Model.ViewModelSuccessMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.ViewModelWarningMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-circle"></i>
                <span class="fw-bold">@Model.ViewModelWarningMessage</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    <form asp-controller="Employees" asp-action="AddNextOfKinInfo" method="post" autocomplete="off">
        <div class="row">
            <div class="col-md-8 mb-2">
                <label asp-for="NextOfKinName" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinName" class="form-control" placeholder="Name">
                <div><span asp-validation-for="NextOfKinName" class="text-danger"></span></div>
            </div>
            <div class="col-md-4 mb-2">
                <input type="hidden" asp-for="EmployeeID" />
                <label asp-for="NextOfKinRelationship" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinRelationship" class="form-control" placeholder="Relationship">
                <div><span asp-validation-for="NextOfKinRelationship" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-2">
                <label asp-for="NextOfKinEmail" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinEmail" class="form-control" placeholder="Email">
                <div><span asp-validation-for="NextOfKinEmail" class="text-danger"></span></div>
            </div>
            <div class="col-md-4 mb-2">
                <label asp-for="NextOfKinPhoneNo" class="form-label text-white fw-bold"></label>
                <input asp-for="NextOfKinPhoneNo" class="form-control" placeholder="Phone No">
                <div><span asp-validation-for="NextOfKinPhoneNo" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label asp-for="NextOfKinAddress" class="form-label text-white fw-bold"></label>
                <textarea asp-for="NextOfKinAddress" class="form-control" rows="3">@Model.NextOfKinAddress</textarea>
                <div><span asp-validation-for="NextOfKinAddress" class="text-danger"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="Employees" asp-action="Records" class="btn btn-dark" style="width:100px" title="Exit">
                    <span class="text-white">Exit</span>
                </a>
                <a asp-controller="Employees" asp-action="AddNextOfKinInfo" asp-route-id="@Model.EmployeeID" class="btn btn-warning" style="width:100px" title="Clear">
                    <span class="text-white">Clear</span>
                </a>
                @if (!Model.OperationIsSuccessful)
                {
                    <button type="submit" class="btn btn-success" title="Save" style="width:200px"><span class="text-white">Save</span></button>
                }

            </div>
        </div>
    </form>
    </div>
</div>


