@model NXPMS.Web.Models.EmployeesViewModels.EmployeeInfoViewModel
<h3>Employee Information</h3>
<hr />
@if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-x-circle"></i>
        <span class="fw-bold">@Model.ViewModelErrorMessage</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  asp-controller="Employees" asp-action="Records" title="Go Back" class="btn btn-sm btn-outline-light text-dark">
                            <i class="bi bi-backspace fw-bolder" style="font-size: 0.8rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Back</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a asp-area="AssetManager" asp-controller="Master" asp-action="ChangeImage" asp-route-id="@Model.AssetID" asp-route-nm="@Model.AssetName" title="Change Image" class="btn btn-sm btn-light text-dark">
                                <i class="bi bi-file-image fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Change Image</span>
                            </a>
                        </li>*@
                    <li class="nav-item">
                        <a asp-controller="Employees" asp-action="Index" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Usage List" class="btn btn-sm btn-light text-dark">
                            <i class="bi bi-journal-text fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Usage History</span>
                        </a>
                    </li>
                       <li class="nav-item">
                            <a asp-controller="Employees" asp-action="CheckOut" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Check Out" class="btn btn-sm btn-light text-dark">
                                <i class="bi bi-box-arrow-up-left fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Check Out</span>
                            </a>
                        </li>
                    <li class="nav-item">
                        <a asp-controller="Employees" asp-action="Records" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Maintenance" class="btn btn-sm btn-light text-dark">
                            <i class="bi bi-tools fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Maintenance</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Employees" asp-action="Records" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Incidents" class="btn btn-sm btn-light text-dark">
                            <i class="bi bi-exclamation-diamond fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Incidents</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  asp-controller="Bookings" asp-action="List" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Bookings" class="btn btn-sm btn-light text-dark">
                            <i class="bi bi-bookmarks fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Bookings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  asp-controller="Movements" asp-action="index" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Transfers" class="btn btn-sm btn-light text-dark">
                            <i class="bi bi-arrow-left-right fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Transfers</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="fw-bold" style="font-size: 0.8rem;">More Actions</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a asp-area="AssetManager" asp-controller="Master" asp-action="EditAsset" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Edit Asset" class="btn btn-sm btn-light text-dark">
                                    <i class="bi bi-pencil-square fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Edit</span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="AssetManager" asp-controller="Master" asp-action="DeleteAsset" asp-route-id="@Model.PersonalInfo.EmployeeID" title="Delete" class="btn btn-sm btn-light text-dark">
                                    <i class="bi bi-trash fw-bolder" style="font-size: 1.0rem;"></i>&nbsp;<span class="fw-bold" style="font-size: 0.8rem;">Delete</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Tabs -->
<div class="card">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#PersonalInfo"
               role="tab">
                <span class="hidden-sm-up"></span> <span class="hidden-xs-down fw-bold" style="font-size:1.0rem">Personal Info</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#EmploymentInfo"
               role="tab">
                <span class="hidden-sm-up"></span> <span class="hidden-xs-down fw-bold" style="font-size:1.0rem">Employment Info</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#NextOfKinInfo"
               role="tab">
                <span class="hidden-sm-up"></span> <span class="hidden-xs-down fw-bold" style="font-size:1.0rem">Next of Kin Info</span>
            </a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane bg-light active" id="PersonalInfo" role="tabpanel">
            <div class="p-10 bg-dark">
                <div class="row">
                    <span class="fw-bold text-white" style="font-size:1.2rem">Personal Info</span>
                </div>
            </div>
            <div class="p-20 bg-secondary">
                <div class="row">
                    <div class="col-md-3">
                        @if (string.IsNullOrWhiteSpace(Model.PersonalInfo.ImagePath))
                        {
                            if (Model.PersonalInfo.Sex == "MALE" || Model.PersonalInfo.Sex == "Male")
                            {
                                <img src="~/img/appimg/no-img-maile.png" alt="Employee Image" style="max-height:200px; max-width:250px" />
                            }
                            else
                            {
                                <img src="~/img/appimg/no-img-female.png" alt="Employee Image" style="max-height:200px; max-width:250px" />
                            }
                        }
                        else
                        {
                            <img src="@Model.PersonalInfo.ImagePath" alt="Employee Image" style="max-height:200px; max-width:250px" />
                        }
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6 mb-1">
                                <label asp-for="@Model.PersonalInfo.FullName" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.FullName" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-md-3 mb-1">
                                <input type="hidden" asp-for="@Model.PersonalInfo.EmployeeID" />
                                <label asp-for="@Model.PersonalInfo.Sex" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.Sex" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-md-3 mb-1">
                                <label asp-for="@Model.PersonalInfo.MaritalStatus" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.MaritalStatus" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-1">
                                <label asp-for="@Model.PersonalInfo.DateOfBirth" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.DateOfBirth" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-md-3 mb-1">
                                <label asp-for="@Model.PersonalInfo.PhoneNo" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.PhoneNo" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-md-3 mb-1">
                                <label asp-for="@Model.PersonalInfo.AltPhoneNo" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.AltPhoneNo" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-1">
                                <label asp-for="@Model.PersonalInfo.PersonalEmail" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.PersonalEmail" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-md-3 mb-1">
                                <label asp-for="@Model.PersonalInfo.Religion" class="form-label text-white fw-bold"></label>
                                <input asp-for="@Model.PersonalInfo.Religion" class="form-control" readonly="readonly">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-4 mb-1">
                            <label asp-for="@Model.PersonalInfo.LgaOfOrigin" class="form-label text-white fw-bold"></label>
                            <input asp-for="@Model.PersonalInfo.LgaOfOrigin" class="form-control" readonly="readonly">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label asp-for="@Model.PersonalInfo.StateOfOrigin" class="form-label text-white fw-bold"></label>
                            <input asp-for="@Model.PersonalInfo.StateOfOrigin" class="form-control" readonly="readonly">
                        </div>
                        <div class="col-md-4 mb-1">
                            <label asp-for="@Model.PersonalInfo.GeoPoliticalRegion" class="form-label text-white fw-bold"></label>
                            <input asp-for="@Model.PersonalInfo.GeoPoliticalRegion" class="form-control" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.PersonalInfo.ResidenceAddress" class="form-label text-white fw-bold"></label>
                        <textarea asp-for="@Model.PersonalInfo.ResidenceAddress" class="form-control" readonly="readonly" rows="3">@Model.PersonalInfo.ResidenceAddress</textarea>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.PersonalInfo.PermanentHomeAddress" class="form-label text-white fw-bold"></label>
                        <textarea asp-for="@Model.PersonalInfo.PermanentHomeAddress" class="form-control" readonly="readonly" rows="3">@Model.PersonalInfo.PermanentHomeAddress</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="Employees" asp-action="Records" class="btn btn-dark" style="width:100px" title="Exit">
                            <span class="text-white">Exit</span>
                        </a>
                        <a asp-controller="Employees" asp-action="AddPersonalInfo" asp-route-id="@Model.PersonalInfo.EmployeeID" class="btn btn-success" style="width:150px" title="Update Personal Info">
                            <span class="text-white">Update</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane bg-light" id="EmploymentInfo" role="tabpanel">
            <div class="p-10 bg-dark">
                <div class="row">
                    <span class="fw-bold text-white" style="font-size:1.2rem">Employment Info</span>
                </div>
            </div>
            <div class="p-20 bg-secondary">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.PersonalInfo.FullName" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.PersonalInfo.FullName" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-2 mb-2">
                        <input type="hidden" asp-for="@Model.EmploymentInfo.EmployeeID" />
                        <label asp-for="@Model.EmploymentInfo.EmployeeNo" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.EmployeeNo" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label asp-for="@Model.EmploymentInfo.CustomNo" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.CustomNo" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.EmploymentInfo.OfficialEmail" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.OfficialEmail" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mb-2">
                        <label asp-for="@Model.EmploymentInfo.EmployeeStatus" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.EmployeeStatus" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label asp-for="@Model.EmploymentInfo.EmployeeCategoryDescription" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.EmployeeCategoryDescription" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label asp-for="@Model.EmploymentInfo.EmployeeTypeDescription" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.EmployeeTypeDescription" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.EmploymentInfo.CurrentDesignation" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.CurrentDesignation" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.EmploymentInfo.LocationName" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.LocationName" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.EmploymentInfo.DepartmentName" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.DepartmentName" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.EmploymentInfo.UnitName" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.UnitName" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <label asp-for="@Model.EmploymentInfo.StartUpDate" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.StartUpDate" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label asp-for="@Model.EmploymentInfo.ConfirmationDate" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.ConfirmationDate" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-5 mb-3">
                        <label asp-for="@Model.EmploymentInfo.StartUpDesignation" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.StartUpDesignation" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label asp-for="@Model.EmploymentInfo.PlaceOfEngagement" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.EmploymentInfo.PlaceOfEngagement" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="Employees" asp-action="Records" class="btn btn-dark" style="width:100px" title="Exit">
                            <span class="text-white">Exit</span>
                        </a>
                        <a asp-controller="Employees" asp-action="AddEmploymentInfo" asp-route-id="@Model.PersonalInfo.EmployeeID" class="btn btn-success" style="width:150px" title="Update Personal Info">
                            <span class="text-white">Update</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" style="max-width:800px" id="NextOfKinInfo" role="tabpanel">
            <div class="p-10 bg-dark">
                <div class="row">
                    <span class="fw-bold text-white" style="font-size:1.2rem">Next of Kin Info</span>
                </div>
            </div>
            <div class="p-20 bg-secondary">
                <div class="row">
                    <div class="col-md-8 mb-2">
                        <label asp-for="@Model.NextOfKinInfo.NextOfKinName" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.NextOfKinInfo.NextOfKinName" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-4 mb-2">
                        <input type="hidden" asp-for="@Model.NextOfKinInfo.EmployeeID" />
                        <label asp-for="@Model.NextOfKinInfo.NextOfKinRelationship" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.NextOfKinInfo.NextOfKinRelationship" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-2">
                        <label asp-for="@Model.NextOfKinInfo.NextOfKinEmail" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.NextOfKinInfo.NextOfKinEmail" class="form-control" readonly="readonly">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label asp-for="@Model.NextOfKinInfo.NextOfKinPhoneNo" class="form-label text-white fw-bold"></label>
                        <input asp-for="@Model.NextOfKinInfo.NextOfKinPhoneNo" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label asp-for="@Model.NextOfKinInfo.NextOfKinAddress" class="form-label text-white fw-bold"></label>
                        <textarea asp-for="@Model.NextOfKinInfo.NextOfKinAddress" class="form-control" readonly="readonly" rows="3">@Model.NextOfKinInfo.NextOfKinAddress</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="Employees" asp-action="Records" class="btn btn-dark" style="width:100px" title="Exit">
                            <span class="text-white">Exit</span>
                        </a>
                        <a asp-controller="Employees" asp-action="AddNextOfKinInfo" asp-route-id="@Model.PersonalInfo.EmployeeID" class="btn btn-success" style="width:150px" title="Update Personal Info">
                            <span class="text-white">Update</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
