
@model NXPMS.Web.Models.EmployeesViewModels.EmployeeReportListViewModel
<div class="container">
    <h3 class="mb-1">User Permissions</h3>
    <hr />
    <div class="mb-1">
        <div class="mb-2">
            <form asp-controller="Employees" asp-action="ReportingLines" asp-route-id="@Model.ID" method="get">
                <a asp-controller="Employees" asp-action="Info" asp-route-id="@Model.ID" class="btn btn-dark" style="width:100px" title="Exit">
                    <span class="text-white">Back</span>
                </a>
                <a asp-controller="Employees" asp-action="ManageReportingLine" asp-route-id="@Model.ID" class="btn btn-success" style="width:250px" title="Add New Reporting Line">
                    <span class="text-white pr-2">New Reporting Line</span>
                </a>
            </form>

            @if (!String.IsNullOrEmpty(Model.ViewModelErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-x-circle"></i>
                    <span class="fw-bold">@Model.ViewModelErrorMessage</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        <div class="row">
            @if (Model.EmployeeReportList == null || Model.EmployeeReportList.Count < 1)
            {
                <div class="alert alert-info fade show" role="alert">
                    <i class="bi bi-info-circle"></i>
                    <span class="fw-bold">No record was found.</span>
                </div>
            }
            else
            {
                int rowCount = 0;
                <table class="table table-sm table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th><span class="text-white fw-bolder">#</span></th>
                            <th>
                                <span class="text-white fw-bolder">Reports To</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Designation</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Unit</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Department</span>
                            </th>
                            <th>
                                <span class="text-white fw-bolder">Location</span>
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-success">
                        @foreach (var item in Model.EmployeeReportList)
                        {
                            rowCount++;
                        <tr>
                            <td class="p-1">
                                <span class="fw-bolder">@rowCount.ToString()</span>
                            </td>
                            <td class="p-1">
                                <span class="fw-bolder">@item.ReportsToName</span>
                            </td>
                            <td class="p-1">
                                <span class="fw-bolder">@item.ReportsToDesignation</span>
                            </td>
                            <td class="p-1">
                                <span class="fw-bolder">@item.ReportsToUnitName</span>
                            </td>
                            <td class="p-1">
                                <span class="fw-bolder">@item.ReportsToDepartmentName</span>
                            </td>
                            <td class="p-1">
                                <span class="fw-bolder">@item.ReportsToLocationName</span>
                            </td>
                            <td class="p-1">
                                <a asp-controller="Employees" asp-action="ShowReportingLine" asp-route-id="@item.EmployeeReportId" class="btn btn-sm btn-dark" title="Show Details">
                                   <span class="text-white">Show</span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/sct.js"></script>
}